<div class='col-md-4'>
  <%= render 'tasks/form' %>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Tasks <small>use shift-click to edit</small>
        <button type='button' class='btn btn-xs pull-right add_task'>
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </h3>
    </div>

    <ul class='list-group' id='tasks'>
      <% tasks.each do |task| %>
        <div class='list-group-item task'>
          <%= button_tag nil, class: 'btn btn-xs pull-right remove_task' do %>
            <span class='glyphicon glyphicon-remove'></span>
          <% end %>
          <%= button_tag nil, class: 'btn btn-xs pull-right task_status' do %>
            <span class='glyphicon <%= task.status ? 'glyphicon-ok' : 'glyphicon-minus' %>'></span>
          <% end %>
          <%= hidden_field :task, :id, { value: task.id, class: 'task_id' } %>
          <h4 class='list-group-item-heading'>
            <span class='editable task_due'>
              <%= task.due.try(:strftime, "%Y-%m-%d %a") || 'task_due' %>
            </span>
            -
            <span class='editable task_title'>
              <%= task.title.html_safe || 'task_title' %>
            </span>
          </h4>
          <span class='list-group-item-text'>
            <span class='editable'>
              <span class='task_body hidden'>
                <%= task.body.html_safe || 'task_body' %>
              </span>
              <span class='task_body_md'>
                <%= md(task.body.html_safe || 'task_body') %>
              </span>
            </span>
          </span>
        </div>
      <% end %>
    </ul>
  </div>
</div>
