<div class='col-md-4'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Tasks
        <button type='button' class='btn btn-xs pull-right' id='add-task'>
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </h3>
    </div>

    <ul class='list-group' id='tasks'>
      <% tasks.each do |task| %>
        <div class='list-group-item task'>
          <%= button_tag nil, class: 'btn btn-xs pull-right', id: 'remove_task' do %>
            <span class='glyphicon glyphicon-remove'></span>
          <% end %>
          <%= button_tag nil, class: 'btn btn-xs pull-right', id: 'task_status' do %>
            <span class='glyphicon <%= task.status ? 'glyphicon-ok' : 'glyphicon-minus' %>'></span>
          <% end %>
          <%= hidden_field :task, :id, value: task.id %>
          <h4 class='list-group-item-heading'>
            <span class='editable' id='task_due'>
              <%= task.due.try(:strftime, "%Y-%m-%d %a") || 'task_due' %>
            </span>
            -
            <span class='editable' id='task_title'>
              <%= task.title.html_safe || 'task_title' %>
            </span>
          </h4>
          <p class='list-group-item-text'>
            <span class='editable' id='task_body'>
              <%= task.body.html_safe || 'task_body' %>
            </span>
          </p>
        </div>
      <% end %>
    </ul>
  </div>
</div>
