<nav class='navbar navbar-default' role='navigation'>
  <div class='page-title navbar-header'>
    <%= link_to 'Utility', '/', class: 'navbar-brand' %>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Dashboard', '/' %></li>
    <li><%= link_to 'Email', 'https://mail.google.com/mail/u/1/?shva=1#inbox', target: '_blank' %></li>
    <li><%= link_to 'Calendar', 'https://www.google.com/calendar/b/1/render?tab=mc', target: '_blank' %></li>
    <li><%= link_to 'Bootstrap', 'http://getbootstrap.com/css', target: '_blank' %></li>
  </ul>
</nav>
