<nav class='navbar navbar-default' role='navigation'>
  <div class='page-title navbar-header'>
    <%= link_to 'Utility', '/', class: 'navbar-brand' %>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <% if current_user %>
        <%= link_to dashboard_path(current_user.id) do %>
          <%= fa_icon 'bar-chart-o' %>
        <% end %>
      <% end %>
    </li>

    <% if current_user %>
      <li>
        <%= link_to current_user do %>
          <%= fa_icon 'gear' %>
        <% end %>
      </li>

      <li>
        <%= link_to user_sessions_path,
          method: :delete,
          confirm: 'Log out?' do %>
          <%= fa_icon 'sign-out' %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_user_session_path do %>
          <%= fa_icon 'sign-in' %>
        <% end %>
      </li>
    <% end %>
  </li>
</ul>
</nav>
