<!DOCTYPE html>
<html>
<head>
  <title>Utility</title>
  <%= stylesheet_link_tag    "application",
    media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application",
    "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= "style='background-color: #{current_user.background_color}'".html_safe if current_user %>>

<%= render 'shared/header' %>
<%= render 'shared/flash_messages' %>

<div class='container'>
  <%= yield %>
</div>

<%= params.inspect if Rails.env.development? %>

</body>
</html>
